<DOCTYPE html >
<html lang="en">
    <head>
    <title>The UNF Liquid Death Bar and Grill  </title>
    <link rel="stylesheet" href="">
</head>
<div id="home" class="UNF">
<h1>WELCOME TO THE UNF BAR</h1>
<div class="Navigation Bar">    
<a href="/">HOME</a>  
<a href="menu">MENU</a>   
<a href="queue">ORDER QUEUE</a>  


</div>

</html>